.logo-app-full {
  display: flex;
  align-items: center;
  justify-content: center;

  & span.app-text {
    font-family: FSAlbertBold;
    font-size: 1.1rem;
    margin-top: 4px;
  }
}

.app-header .navbar-brand {
  width: 195px;
}

@media (max-width: 991.98px) {
  .app-header.navbar {
    flex-direction: column;
    justify-content: center;
  }

  .app-header .navbar-brand {
    position: static;
    margin-left: 0;
  }

  .breadcrumb {
    margin-bottom: .9rem !important;
  }
}